.board-wrapper-hint {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.board-and-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sudoku-grid {
  display: flex;
  flex-direction: column;
  border: 3px solid #000;
  background: #fcfcfc;
  margin-top: 50px;
  margin-bottom: 20px;
}

.sudoku-row {
  display: flex;
}

.sudoku-cell {
  width: 40px;
  height: 40px;
  border: 1px solid #888;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
}

.sudoku-cell.selected {
  background-color: #e0f7ff;
  border: 2px solid #2196f3;
}

.sudoku-cell.active {
  outline: 2px solid #3399ff;
  outline-offset: -2px;
  background-color: #eaf4ff;
}

.sudoku-cell.highlight-same-number,
.sudoku-cell.user-input.highlight-same-number {
  background-color: #b9ebd2;
}

.generated,
.sudoku-cell.user-input {
  background-color: #e8e8e8;
  font-weight: bold;
}

.border-top-bold {
  border-top: 2px solid #000;
}

.border-left-bold {
  border-left: 2px solid #000;
}

.border-bottom-bold {
  border-bottom: 2px solid #000;
}

.border-right-bold {
  border-right: 2px solid #000;
}

.sudoku-cell.conflict {
  background-color: #ffd6d6;
  border: 2px solid #ff4d4d;
}

.pencil-marks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: 10px;
  color: #888;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 13px;
}

.pencil-marks span {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.pencil-marks span.hint-highlight {
  background-color: #f1ff71;
  border-radius: 50%;
  height: 15px;
  font-weight: bold;
  color: #0057b7;
}

.pencil-marks span.hint-pair {
  background-color: #b7e1ff;
  border-radius: 50%;
  font-weight: bold;
  color: #003f7d;
}

.pencil-marks span.hint-eliminated {
  background-color: #ffd6d6;
  border-radius: 50%;
  font-weight: bold;
  color: #8b0000;
}