.board-wrapper-hint {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 1rem;
  box-sizing: border-box;
  max-width: 100%;
  gap: 1rem;
}

.board-and-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 320px;
  max-width: 500px;
  min-width: 250px;
  box-sizing: border-box;
}

.sudoku-grid {
  display: flex;
  font-size: 0;
  flex-direction: column;
  overflow: hidden;
  border: 3px solid #000;
  background: #fcfcfc;
  margin: 2rem 0 1rem 0;
  width: 100%;
  aspect-ratio: 1 / 1; 
  max-width: 360px;
  box-sizing: border-box;
}

.sudoku-row {
  display: flex;
  flex: 1 1 0;
}

.sudoku-cell {
  flex: 1 1 0; 
  min-width: 0;
  min-height: 0;
  overflow: hidden;
  aspect-ratio: 1 / 0.98;
  border: 1px solid #888;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(14px, 4vw, 20px);
  cursor: pointer;
  box-sizing: border-box;
}


.sudoku-cell.selected {
  background-color: #e0f7ff;
  outline: 2px solid #2196f3;
  outline-offset: -2px; 
}

.sudoku-cell.active {
  outline: 2px solid #3399ff;
  outline-offset: -2px;
  background-color: #eaf4ff;
}

.sudoku-cell.highlight-same-number,
.sudoku-cell.user-input.highlight-same-number {
  background-color: #8fddb6a2;
}

.generated,
.sudoku-cell.user-input {
  background-color: #e8e8e8;
  font-weight: bold;
}

.sudoku-cell.conflict {
  background-color: #ffd6d6;
  outline: 2px solid #ff4d4d;
  outline-offset: -2px;
}

.border-top-bold {
  border-top: 2px solid #000;
}

.border-left-bold {
  border-left: 2px solid #000;
}

.border-bottom-bold {
  border-bottom: 2px solid #000;
}

.border-right-bold {
  border-right: 2px solid #000;
}

.pencil-marks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-size: clamp(8px, 2.5vw, 10px);
  color: #888;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 1.2;
}

.pencil-marks span {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.pencil-marks span.hint-highlight {
  background-color: #f1ff71;
  border-radius: 50%;
  font-weight: bold;
  color: #0057b7;
  height: 1.2em;
}

.pencil-marks span.hint-pair {
  background-color: #b7e1ff;
  border-radius: 50%;
  font-weight: bold;
  color: #003f7d;
  height: 1.2em;
}

.pencil-marks span.hint-eliminated {
  background-color: #ffd6d6;
  border-radius: 50%;
  font-weight: bold;
  color: #8b0000;
  height: 1.2em;
}

@media (max-width: 600px) {
  .board-wrapper-hint {
    gap: 0.5rem;
    padding: 0.5rem;
  }

  .sudoku-grid {
    max-width: 60vw;
  }

  .hint-box {
    flex-basis: 35vw;
    padding: 4px;
    font-size: 0.50rem;
    margin-top: 0;
  }

  .hint-buttons {
    flex-direction: row;
    gap: 3px;
  }

  .pencil-marks {
    font-size: clamp(6px, 2vw, 8px);
  }
}
