.App {
  background-color: #b1f0d1;
  overflow: auto;
  min-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  font-family: 'Segoe UI', sans-serif;
}


header {
  text-align: center;
  padding: 1.5rem 0 0.5rem 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #C8FFE4;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

header h1 {
  margin: 0;
  padding: 0 0 0.5rem 0;
  font-size: 2rem;
  color: #010938;
}

.header-logo {
  width: 60px;
  height: auto;
  margin-bottom: 0.5rem;
}

.github-logo {
  width: 25px;
  height: auto;
  margin: 0 0.3rem 0.2rem 0.4rem;
}

footer {
  margin-top: 3rem;
  padding: 1rem;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1);
  background-color: #C8FFE4;
  text-align: center;
  font-size: 0.9rem;
  color: #666;
}

footer a {
  color: #007acc;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  header {
    text-align: center;
    padding: 0.2rem 0 0.2rem 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.5rem;
    background-color: #C8FFE4;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  header h1 {
    margin: 0;
    padding: 0 0 0.2rem 0;
    font-size: 1rem;
    color: #010938;
  }

  .header-logo {
    width: 30px;
    height: auto;
    margin-bottom: 0.2rem;
  }
}